@import 'charter_font';
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

.navbar-laravel {
  // background-color: #fff;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.blockquote {
  border-left: 5px solid gray('200');
  padding-left: .5rem;
}

.bootstrap-datetimepicker-widget {
  &.dropdown-menu {
    width: 16rem !important;
  }
}

.fullscreen-editor-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $white;
  top: 0;
  left: 0;
  z-index: 1;
  padding-top: 10px;
}