@import 'charter_font';
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/tempusdominus-bootstrap-4/src/sass/tempusdominus-bootstrap-4';

.navbar-laravel {
  // background-color: #fff;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.blockquote {
  border-left: 5px solid gray('200');
  padding-left: .5rem;
}

.bootstrap-datetimepicker-widget {
  &.dropdown-menu {
    width: 16rem !important;
  }
}

.fullscreen-editor-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $white;
  top: 0;
  left: 0;
  z-index: 2;
  padding-top: 10px;
}

hr {
  &.subtle {
    border-top: 1px solid #eee;
    text-align: center;

    &:after {
      content: '~';
      display: inline-block;
      position: relative;
      top: -14px;
      padding: 0 10px;
      background: #fff;
      color: #ccc;
      font-size: 18px;
      -webkit-transform: rotate(60deg);
      -moz-transform: rotate(60deg);
      transform: rotate(60deg);
    }
  }
}